html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --primary-background-color: #FFFFFF;
    --primary-text-darkbackground-color: #FFFFFF;
    --secondary-text-darkbackground-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --darkbackground-color: #2F303A;
    --lightbackground-color: #F5F4FA;
    --dark-logo-color: #000000;
    --button-hover-accent-color: #188CE8;
    --border-header-color: #ECECEC;
    --border-portfolio-color: #EEEEEE;
    --hero-background-color: #C4C4C4;
    --overlay-job-image-color:rgba(47, 48, 58, 0.8);
    --team-card-shadow:0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --primary-icons-color:#AFB1B8;
    --footer-icons-background-color:rgba(255, 255, 255, 0.1);
    --footer-input-border-color:rgba(255, 255, 255, 0.3);
    --footer-input-shadow-color:0px 4px 4px rgba(0, 0, 0, 0.15);
    --backdrop-background-color:rgba(0, 0, 0, 0.2);
    --modal-shadow-color:0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --modal-text-and-close-icon-color:#000000;
    --modal-close-border-color:rgba(0, 0, 0, 0.1);
    --form-input-border-color:rgba(33, 33, 33, 0.2);
    --modal-icons-and-checkbox-color:#212121;
    --form-button-shadow-color:0px 4px 4px rgba(0, 0, 0, 0.15);
    --button-filtr-hover-shadow-color:0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --projects-cards-hover-shadow-color:0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    --project-overlay-background-color:rgba(33, 150, 243, 0.9);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --time-period: 250ms;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    color: var(--secondary-text-color);
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    font-family: inherit;
}

/* Common styles */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    text-decoration: none;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-text-darkbackground-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms var(--timing-function);
}

.button:hover,
.button:focus {
    background-color: var(--button-hover-accent-color);
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* Header */

.header {
    background-color: var(--primary-background-color);
    border-bottom: 1px solid var(--border-header-color);
}

.header-container {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    align-items: center;
}

.logo-header {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--dark-logo-color);
    margin-right: 93px;
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo {
    color: var(--accent-color);
}

.header-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    margin-left: auto;

}

.header-item {
    margin-right: 50px;
}

.header-item:last-child {
    margin-right: 0;
}

.header-email {
    margin-right: 50px;
}


.link-item {
    color: var(--secondary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms var(--timing-function);
}

.link-item:hover,
.link-item:focus {
    color: var(--accent-color);
}

.link-current {
    position: relative;

    color: var(--accent-color);
}

.link-current::after {
    position: absolute;
    left: 0;
    bottom: -1px;

    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.header-contact {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms var(--timing-function);
}

.header-contact:hover,
.header-contact:focus {
    color: var(--accent-color);
}

.link-icon {
    margin-right: 10px;
    fill: currentColor;
}

/* Hero */

.hero-section {
    text-align: center;
}

.overlay {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--hero-background-color);
}

.hero-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-text-darkbackground-color);
    width: 696px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

.hero-button {
    display: inline-block;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;

}


/* Features */

.features-section {
    background-color: var(--primary-background-color);
}

.features-list__image {
    background-color: var(--lightbackground-color);
    padding-top: 25px;
    padding-right: 100px;
    padding-bottom: 25px;
    padding-left: 100px;
    margin-bottom: 30px;
}

.features-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-list__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
}

.features-list__item {
    margin-right: 30px;
    flex-basis: calc(100% / 4 - 30px);
}

.features-list__item:last-child {
    margin-right: 0;
}

/* Job */

.job-section {
    background-color: var(--primary-background-color);
    padding-bottom: 94px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.job-list {
    display: flex;
}

.job-image {
    position: relative;

    margin-right: 30px;
}

.job-image:last-child {
    margin-right: 0;
}

.job-descr {
position: absolute;
width: 100%;
left: 0;
bottom: 0;

font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-darkbackground-color);
background-color: rgba(47, 48, 58, 0.8);
padding-top: 27px;
padding-bottom: 27px;
}

/* Team */

.team-section {
    background-color: var(--lightbackground-color);
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
}

.team-card {
    background-color: var(--primary-background-color);
    margin-right: 30px;
    flex-basis: calc(100% / 4 - 30px);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-card:last-child {
    margin-right: 0;
}

.team-info {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.member-position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    padding-bottom: 16px;
}
 
.socials-list {
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
}

.social-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;

    transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    color: var(--primary-text-darkbackground-color);
}

.social-icon {
    fill: currentColor;
}


/* Clients */

.clients-list {
    display: flex;
}

.clients-list__item {
    margin-right: 30px;
}

.clients-list__item:last-child {
    margin-right: 0;
}

.clients-list__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    background-color: var(--primary-background-color);
    color: #AFB1B8;

    transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.clients-list__link:hover,
.clients-list__link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.clients-list__icon {
    fill: currentColor;
}

/* Footer */

.footer {
    background-color: var(--darkbackground-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-content {
    display: flex;
    align-items: baseline;
}

.company-info {
    margin-right: 70px;
}

.logo-footer {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-darkbackground-color);
    margin-bottom: 20px;
    display: inline-block;
}

.adress-item {
    margin-bottom: 9px;
}

.adress-item:last-child {
    margin-bottom: 0;
}

.footer-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-darkbackground-color);

    transition: color 250ms var(--timing-function);
}

.footer-address:hover,
.footer-address:focus {
    color: var(--accent-color);
}

.footer-contact {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-darkbackground-color);

    transition: color 250ms var(--timing-function);
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}

.social-title,
.subscribe-title {
    color: var(--primary-text-darkbackground-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer .socials-list {
    padding: 0;
}

.social-item {
    margin-right: 10px;
}

.social-item:last-child{
    margin-right: 0;
}

.footer .social-link {
color: var(--primary-text-darkbackground-color);
background-color: rgba(255, 255, 255, 0.1);

transition: background-color 250ms var(--timing-function);
}

.footer .social-link:hover,
.footer .social-link:focus {
    background-color: var(--accent-color);
}

.footer-form{
    margin-right: 0;
    margin-left: auto;
}

.subscribe-form{
display: flex;
}

.subscribe-input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    padding-right: 0;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--darkbackground-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--secondary-text-darkbackground-color);
    margin-right: 12px;

    transition: border-color 250ms var(--timing-function);
}

.subscribe-input:hover,
.subscribe-input:focus {
    border-color: var(--primary-text-darkbackground-color);
}

.subscribe-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;

}

.send-icon{
    fill: currentColor;
}

/* Modal */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.7);

}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: 528px;
    height: 581px;
    background-color: var(--primary-background-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 40px;

    transition: transform 250ms var(--timing-function);
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;

    color: #000000;
    background-color: var(--primary-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.close-icon {
    fill: currentColor;

    transition: fill 250ms var(--timing-function);
}

.close-icon:hover,
.close-icon:focus {
    fill: var(--accent-color);
}

.form-instruction {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 12px;
}

.form-field {
    position: relative;
    margin-bottom: 10px;
}

.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.form-input {
    display: block;
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: #000000;
    margin-top: 4px;

    transition: border-color 250ms var(--timing-function);
    }

.form-input:hover,
.form-input:focus,
.form-input:hover ~ .form-icon,
.form-input:focus ~ .form-icon {
    fill: var(--accent-color);
    border-color: var(--accent-color);
    outline: var(--accent-color);
} 

    .form-icon {
        position: absolute;
        left: 12px;
        bottom: 11px;
        fill: var(--modal-icons-and-checkbox-color);

        transition: fill 250ms var(--timing-function);
    }
    
.form-field.comment {
    margin-bottom: 20px;
}

.form-input.comment {
    max-height: 120px;
    resize: none;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
}

.checkmark-field {
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    padding-left: 36px;
}

.checkbox-label::after {
    content: "";
    position: absolute;
    top: 4.5px;
    left: 12.5px;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    display: inline-block;
    background-image: url(../images/check.svg);
    background-size: contain;

    transition: background-color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.checkbox:hover + .checkbox-label::after,
.checkbox:focus + .checkbox-label::after{
    border-color: var(--accent-color);
}

.checkbox:checked + .checkbox-label::after {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.link-terms {
    color: var(--accent-color);
    text-decoration-skip-ink: none;
}

.form-button {
    width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: 0 auto;

}

/* Cторінка Portfolio */

.portfolio-section {
    background-color: var(--primary-background-color);
}

.filtr-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filtr-item {
    margin-right: 8px;
}

.filtr-item:last-child {
    margin-right: 0;
}

.button-filtr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    background-color: var(--lightbackground-color);
    border-radius: 4px;
    border: none;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    min-width: 73px;

    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.button-filtr:hover,
.button-filtr:focus {
    color: var(--primary-text-darkbackground-color);
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.project-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

.project-list .link {
    display: block;
    border: 1px solid var(--border-portfolio-color);

    transition: box-shadow 250ms var(--timing-function);
}

.project-list .link:hover,
.project-list .link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-thumb{
    position: relative;
    overflow: hidden;
}

.project-overlay{
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);

    background-color: rgba(33, 150, 243, 0.9);
}

.project-list .link:hover .project-overlay,
.project-list .link:focus .project-overlay {
    transform: translateY(0);
    opacity: 1;
}

.action-text{
    position: absolute;
    width: 322px;
    height: 168;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 250ms var(--timing-function);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primary-text-darkbackground-color);
}

.project-list .link:hover .action-text,
.project-list .link:focus .action-text {
    opacity: 1;
}

.project-info {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
}

.project-caps {
text-transform: uppercase;
}

.project-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

