.footer-form{
    margin-right: 0;
    margin-left: auto;
}

.subscribe-title {
    @extend %footer-titles;
}

.subscribe-form{
    display: flex;
    }

.subscribe-input {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 16px;
        padding-right: 0;
        width: 358px;
        border: 1px solid $footer-input-border-color;
        filter: drop-shadow(0px 4px 4px $footer-input-shadow-color);
        border-radius: 4px;
        background-color: $darkbackground-color;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: $secondary-text-darkbackground-color;
        margin-right: 12px;
    
        transition: border-color 250ms var(--timing-function);

        &:hover,
        &:focus {
            border-color: $primary-text-darkbackground-color;
        }
    }


.send-icon{
        fill: currentColor;
    }