.footer {
    background-color: $darkbackground-color;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-content {
    text-align: center;

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    
    @media screen and (min-width: $desktop) {
        flex-wrap: nowrap;
        text-align: start;
    }
}