.socials-footer {
    margin-bottom: 60px;

    @media screen and (min-width: $tablet) {
        width: 206px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 0;
        margin-right: 0;
    }
}

.social-title {
    @extend %footer-titles;
}

