.hero-section {
    text-align: center;
}

.overlay {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/hero-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: $hero-background-color;

    @media (min-resolution: 2dppx) {
            background-image: url('../images/hero/hero-mobile-2x.jpg');
    }

    @media screen and (min-width: $tablet) {
            background-image: url('../images/hero/hero-tablet.jpg');

        @media (min-resolution: 2dppx) {
                background-image: url('../images/hero/hero-tablet-2x.jpg');
        }
    }

    @media screen and (min-width: $desktop) {
            background-image: url('../images/hero/hero-desktop.jpg');
            padding-top: 200px;
            padding-bottom: 200px;

        @media (min-resolution: 2dppx) {
                background-image: url('../images/hero/hero-desktop-2x.jpg');
        }
    }
}

.hero-text {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-text-darkbackground-color;
    width: 100%;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: $mobile) {
        width: 360px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 44px;
        line-height: 1.36;
        width: 696px;
    }
}
